* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
  border: none;
  cursor: pointer;
  color: rgb(16, 20, 247);
  background-color: #5f9fff24;
}

html,
body {
  height: 100%;
}

body {
  background: rgba(105, 105, 105, 0.158);

}

.app {
  width: 500px;
  height: 300px;
  background-color: #fff;
  margin: 50px auto 0 auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

      background-image: linear-gradient(to right,
            rgba(238, 249, 142, 0.7),
            rgba(77, 91, 248, 0.652));
        background-repeat: no-repeat;
 
 
}

.app_conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  
}

.app_conteiner1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  width: 150px;
  /* height: 100px; */
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #e6e6e6;
  text-align: center;
  line-height: 100px;
  font-size: 34px;
  margin-right: 20px;
}

.app_text {
  font-size: 28px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.app_text2 {
  color: blue;
  font-size: 20px;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.controls button {
  padding: 7px 12px;
  cursor: pointer;
  background-color: #6b7a8f;
  color: white;
  border: 1px solid #7b828b;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.controls button:hover {
  background-color: #7b828b;
  color: rgb(0, 0, 0);
}

.active {
  border: 1px solid #3bf801 !important;
   box-shadow: 5px 5px 10px rgb(56, 246, 3) !important;
  color:#3bf801 !important;
}